*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    background-color: black;
}
.hero{
    width:100%;
    height: 100vh;
    position:relative;
    font-family: sans-serif;
}
.navbar{
    width:86%;
    display: flex;
    margin:auto;
    padding: 50px 0;
    align-items: center;
    justify-content: space-between;
}
.logo{
    position: relative;
    max-width: 90px;
}

.navbar ul{
    position: relative;
    display: flex;
}

.navbar ul li{
    list-style: none;
    display:inline-block;
    padding: 10px 16px;
}

.navbar ul li a{
    display: inline-block;
    color:rgb(236, 233, 233);
    font-weight: 600;
    text-decoration: none;
    margin-left: 50px;
    margin-top: -3%;
    transition: .4s ease;
}
.content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content .info{
    position: relative;
    max-width: 600px;
    color:aliceblue;
    margin-left: 100px;
}

.content .info h2{
    color: gainsboro;
    font-size: 3em;
    line-height: 1.4em;
    font-weight:600;
}

.content .info h2 span{
    color: rgb(244, 244, 121);
    font-size: 1.2em;
    font-weight: 900;
}
.content .info p{
    color: rgb(163, 160, 160);
}

.content .info a{
    display: inline-block;
    margin-top: 30px;
    padding: 8px 20px;
    background: rgb(244, 244, 121);
    color:black;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 1px;
}
